## Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

In [2]:
# File to Load (Remember to Change These)
data_file = os.path.join("Resources", "purchase_data.csv")

In [3]:
# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(data_file, encoding="utf-8")

In [4]:
#Verify that there aren't missing entries
data_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

In [5]:
#Find the total number of unique players, create a data frame for the information, print out data frame
total_players = len(data_file_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [6]:
#Calculate the values needed for the "Purchasing Analysis (Total)" data frame
unique_items = len((data_file_df["Item Name"].unique()))
ave_price = data_file_df["Price"].mean()
num_purchases = len(data_file_df)
total_revenue = data_file_df["Price"].sum()

#Create the purchase summary data frame
purchase_summ_df = pd.DataFrame({"Unique Items": [unique_items],
                                 "Average Price": "${:,.2f}".format(ave_price),
                                 "Number of Purchases": num_purchases,
                                 "Total Revenue": "${:,.2f}".format(total_revenue)})

#Display "Purchasing Analysis (Total)" data frame
purchase_summ_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

In [7]:
#Create dataframe for unique player info (SN, Age, Gender)
player_info_df = data_file_df.drop_duplicates(subset = "SN")
player_info_df = player_info_df.drop(["Purchase ID", "Item ID", "Item Name", "Price"], axis=1)

In [8]:
#Calculate gender totals and percentage of players
gender_total = player_info_df["Gender"].value_counts()  #total number of unique players by gender (M + F + O)
gender_percent = (gender_total / total_players).map('{:,.2%}'.format)

#Create dataframe for the analysis by gender, using unique player info only
gender_df = pd.DataFrame({"Total Count": gender_total,
                          "Percentage of Players": gender_percent})

#Format data frame
gender_df.index.name = "Gender"

#Display data frame
gender_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [9]:
# DF with pertinent gender and purchase information
gender_data_df = data_file_df[["Gender", "Price"]]

#Calculate Values for Purchase Count, using all purchase info
purchase_gender_count = gender_data_df["Gender"].value_counts()

#Create index and first column of gender analysis data frame, initialize dataframe here to cut down on variable names
gender_summ_df = pd.DataFrame({"Purchase Count": purchase_gender_count})
gender_summ_df.index.name = "Gender"

# Create the column for "Average Purchase Price"
gender_summ_df["Average Purchase Price"] = gender_data_df.groupby(["Gender"]).mean()

#Create the column for "Total Purchase Value"
gender_summ_df["Total Purchase Value"] = gender_data_df.groupby(["Gender"]).sum()

#Create the column for Avg Purchase Total per Person by Gender (Total Purchase Value / Total Players)
gender_summ_df["Avg Total Purchase per Person"] = gender_summ_df["Total Purchase Value"] / gender_total

#Format Data Frame
gender_summ_df["Average Purchase Price"] = gender_summ_df["Average Purchase Price"].map("${:,.2f}".format)
gender_summ_df["Total Purchase Value"] = gender_summ_df["Total Purchase Value"].map("${:,.2f}".format)
gender_summ_df["Avg Total Purchase per Person"] = gender_summ_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_summ_df = gender_summ_df.sort_index()

#Display Purchasing Analysis (Gender)
gender_summ_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [10]:
#Create age bins and labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
age_display = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bins_unique = (pd.cut(player_info_df["Age"], age_bins, labels = age_display, include_lowest = True))

#Calculate the total players in each group, and the percent of the total (using unique player info)
age_total = age_bins_unique.value_counts()
age_percent = (age_total/total_players).map('{:,.2%}'.format)

#Create dataframe and sort it by the age ranges
age_df = pd.DataFrame({"Total Count": age_total,
                          "Percentage of Players": age_percent})

age_df.index.name = "Age Ranges"
age_df = age_df.sort_values(by = ["Age Ranges"])

#Display the Age Demographics data frame
age_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

In [11]:
# DF with pertinent age and purchase information
age_data_df = data_file_df[["Age", "Price"]]

#Binned data, using all info
age_bins_all = pd.cut(age_data_df["Age"], age_bins, labels = age_display, include_lowest = True)
age_grouped = age_data_df.groupby(age_bins_all)["Age"]

#Calculate Values for Purchase Count
purchase_age_count = age_bins_all.value_counts()

#Create index and first column of age analysis data frame, initialize dataframe here to cut down on variable names
age_summ_df = pd.DataFrame({"Purchase Count": purchase_age_count})

# Create the column for "Average Purchase Price"
age_summ_df["Average Purchase Price"] = age_data_df.groupby(age_bins_all)["Price"].mean() #return the mean of the "price" column in the data set grouped by age, Dwight Thieme (TA) helped with this line and the one below

#Create the column for "Total Purchase Value"
age_summ_df["Total Purchase Value"] = age_data_df.groupby(age_bins_all)["Price"].sum()

#Create the column for Avg Purchase Total per Person by Gender (Total Purchase Value / Total Players)
age_summ_df["Avg Total Purchase per Person"] = age_summ_df["Total Purchase Value"] / age_total

#Format data frame
age_summ_df["Average Purchase Price"] = age_summ_df["Average Purchase Price"].map("${:.2f}".format)
age_summ_df["Total Purchase Value"] = age_summ_df["Total Purchase Value"].map("${:.2f}".format)
age_summ_df["Avg Total Purchase per Person"] = age_summ_df["Avg Total Purchase per Person"].map("${:.2f}".format)

age_summ_df.index.name = "Age Ranges"
age_summ_df = age_summ_df.sort_values(by = ["Age Ranges"])

#Display Purchasing Analysis (Gender)
age_summ_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [12]:
#DF and grouped DF with pertinent spender information
spenders_df = data_file_df[["SN", "Price"]]
sn_spenders_df = spenders_df.groupby(["SN"])

#Calculate Values for Purchase Count, and initialize summary data frame
spender_purch_count = data_file_df["SN"].value_counts()
spender_summ_df = pd.DataFrame({"Purchase Count": spender_purch_count})

#Create column for "Average Purchase Price"
spender_summ_df["Average Purchase Price"] = sn_spenders_df.mean()

#Create column for "Total Purchase Value"
spender_summ_df["Total Purchase Value"] = sn_spenders_df.sum()

#Format data frame
spender_summ_df["Average Purchase Price"] = spender_summ_df["Average Purchase Price"].map("${:.2f}".format)

spender_summ_df = spender_summ_df.sort_values(["Total Purchase Value"], ascending = False) #Sort before format
spender_summ_df["Total Purchase Value"] = spender_summ_df["Total Purchase Value"].map("${:.2f}".format)

spender_summ_df.index.name = "SN"

#Display the spender summary DF, showing only the top 5 spenders
spender_summ_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Data Frame Set Up for Most Popular and Most Profitable Items:

In [13]:
#Create data frame for unique item info ("Item ID", "Item Name", "Price")
item_info_df = data_file_df.drop_duplicates(subset = "Item ID")
item_info_df = item_info_df.drop(["Purchase ID", "SN", "Age", "Gender"], axis=1)

In [14]:
#Create data frame to support "Most Popular" and "Most Profitable" summaries
popular_df = data_file_df[["Item ID", "Item Name", "Price"]]
items_df = popular_df.groupby("Item ID")

#Calculate the amount sold of each item
top_popular = popular_df["Item ID"].value_counts()

#Initialize item summary data frame, Index needs set here to make the merge happen properly
item_summ_df = pd.DataFrame({"Purchase Count": top_popular,})
item_summ_df.index.name = "Item ID"

#Calculate the total purchase value
item_summ_df["Total Purchase Value"] = (items_df.sum()).astype(float)

#Calculate the average price of an item, as some of the items have been sold at more than 1 price
item_summ_df["Avg Item Price"] = (items_df.mean()).astype(float)

#Merge in the identifying item info
item_summ_df = pd.merge(item_summ_df, item_info_df, on = "Item ID", how = "left")

#Format data frame (re-order columns, set indices)
item_summ_df = item_summ_df[["Item ID", "Item Name", "Purchase Count", "Avg Item Price", "Total Purchase Value"]]
item_summ_df.set_index(["Item ID", "Item Name"], inplace = True, drop = True)

## Most Popular Items

In [15]:
# Create the "Most Popular" dataframe 
popular_summ_df = item_summ_df.copy()

#Format data frame (sort by "Purchase Count", format money columns)
popular_summ_df = popular_summ_df.sort_values(["Purchase Count"], ascending = False)
popular_summ_df["Total Purchase Value"] = popular_summ_df["Total Purchase Value"].map("${:.2f}".format)
popular_summ_df["Avg Item Price"] = popular_summ_df["Avg Item Price"].map("${:.2f}".format)

#Display Popular Items data frame - The top 6 are shown as the there are 4 items in "3rd Place"
popular_summ_df.head(6)

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10

## Most Profitable Items

In [16]:
# Create the "Most Profitable" dataframe
profit_summ_df = item_summ_df.copy()

#Format data frame (sort by "Total Purchase Value", format money columns)
profit_summ_df = profit_summ_df.sort_values(["Total Purchase Value"], ascending = False)
profit_summ_df["Total Purchase Value"] = profit_summ_df["Total Purchase Value"].map("${:.2f}".format)
profit_summ_df["Avg Item Price"] = profit_summ_df["Avg Item Price"].map("${:.2f}".format)

#Display the profitable item summary DF, showing only the top 5 most profitable items
profit_summ_df.head(5)

,,Purchase Count,Avg Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80