In [10]:
# Dependencies and Setup
import pandas as pd
import os

In [11]:
# File to Load (Remember to Change These)
data_file = os.path.join("Resources", "purchase_data.csv")

In [12]:
# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(data_file, encoding="utf-8")

In [13]:
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
total_players = len(data_file_df["SN"].unique())
total_players

576

In [15]:
unique_items = len((data_file_df["Item Name"].unique()))
ave_price = "${:,.2f}".format(data_file_df["Price"].mean())
num_purchases = len(data_file_df)
total_revenue = "${:,.2f}".format(data_file_df["Price"].sum())

In [17]:
purchase_summ_df = pd.DataFrame({"Unique Items": [unique_items],
                                 "Average Price": ave_price,
                                 "Number of Purchases": num_purchases,
                                 "Total Revenue": total_revenue})
purchase_summ_df

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780     $2,379.77