In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

In [2]:
# File to Load (Remember to Change These)
data_file = os.path.join("Resources", "purchase_data.csv")

In [3]:
# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(data_file, encoding="utf-8")

In [4]:
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Verify that there aren't missing entries
data_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
#Find the total number of unique players, create a data frame for the information, print out data frame
total_players = len(data_file_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [64]:
#For formatting money
def money (x):
    return "${:,.2f}".format(x)

In [79]:
#The code refused to display percentages using any other method found
def percent (x):
    return "{:,.2%}".format(x)

In [80]:
#Calculate the values needed for the "Purchasing Analysis (Total)" data frame
unique_items = len((data_file_df["Item Name"].unique()))
ave_price = data_file_df["Price"].mean()
num_purchases = len(data_file_df)
total_revenue = data_file_df["Price"].sum()

In [82]:
#Create and print out the purchase summary as a data frame
purchase_summ_df = pd.DataFrame({"Unique Items": [unique_items],
                                 "Average Price": ave_price.apply(money),
                                 "Number of Purchases": num_purchases,
                                 "Total Revenue": "${:,.2f}".format(total_revenue)})

purchase_summ_df

AttributeError: 'float' object has no attribute 'apply'

In [9]:
#Create dataframe for unique player info (SN, Age, Gender)
player_info_df = data_file_df.drop_duplicates(subset = "SN")
player_info_df = player_info_df.drop(["Purchase ID", "Item ID", "Item Name", "Price"], axis=1)

In [78]:
#Create dataframe for the analysis by gender
gender_total = player_info_df["Gender"].value_counts()  #total number of unique players by gender (M + F + U)
gender_percent = ((gender_total / total_players))

gender_df = pd.DataFrame({"Total Count": gender_total,
                          "Percentage of Players": gender_percent.apply(percent)})

#TODO: Format "Percentage of Players" as percentages

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [66]:
# DF with pertinent gender and purchase information
gender_data_df = data_file_df[["Gender", "Price"]]

#Calculate Values for Purchase Count
purchase_gender_count = gender_data_df["Gender"].value_counts()

#Create index and first column of gender analysis data frame, initialize data frame here to cut down on variable names
gender_summ_df = pd.DataFrame({"Purchase Count": purchase_gender_count})
gender_summ_df.index.name = "Gender"

# Create the column for "Average Purchase Price"
gender_summ_df["Average Purchase Price"] = gender_data_df.groupby(["Gender"]).mean()
gender_summ_df["Average Purchase Price"] = gender_summ_df["Average Purchase Price"].apply(money)

#Create the column for "Total Purchase Value"
gender_summ_df["Total Purchase Value"] = gender_data_df.groupby(["Gender"]).sum()
gender_summ_df["Total Purchase Value"] = gender_summ_df["Total Purchase Value"].apply(money)

#Create the column for Avg Purchase Total per Person by Gender
gender_summ_df["Avg Total Purchase per Person"] = purchase_gender_sum_df["Price"] / gender_total
gender_summ_df["Avg Total Purchase per Person"] = gender_summ_df["Avg Total Purchase per Person"].apply(money)

#Display Purchasing Analysis (Gender)
gender_summ_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56